#################################################
# Ignore Altova XMLSpy project definition files #
#################################################
*.spp

##############################
#Ignore oXygen project files #
##############################
*.xpr

###########################################################
# Ignore Microsoft Excel/Word/Powerpoint/Visio temp files #
############################################################
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

###############################
# Misc Operating System Files #
###############################
**/*.DS_Store
**/*.DS_Store?
**/*._*
**/*.Spotlight-V100
**/*.Trashes
**/*ehthumbs.db
**/*Thumbs.db
**/*desktop.ini

###################################
# Hidden Files/Folders In General #
###################################
.*

###############################################
# KEEP Git Ignore (This .gitignore) File !!!! #
###############################################
!.gitignore

Urls/

Snapshots/
